*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 

.clearfix{
    content: ""; 
    display: table;
    clear: both;
} 

.relative{
    position: relative;
} 
.absolute {
    position: absolute;
}

.flex{   
    display: flex; 
    flex-wrap: wrap;

}

    
    
   

/* Header */

header .photo-view{
    border: 2px solid black; 
    background-color: black;
    height: 10vh;
}

header .view{
    flex-direction: row-reverse;
    gap: 10px;
} 

header .expand, .option{
    color: white;
    background-color: silver;
    padding: .5rem;
    border-radius: 10px; 
    
}

/* /Header */
 

/* Main */
main .content{ 
    background-color: tomato;
    height: 80vh;
} 

main .container-photo{ 
    border: 2px solid yellow; 
    height: 100%; 
    
    width: 80%; 
    margin: 0 auto; 
    overflow: auto;
}  

main .container-photo .photo{ 
    border: 2px solid black; 
    height: 20%;

    width: 20%; 
    /* background-image: url(); */
}











footer .general-setting{
    border: 2px solid royalblue; 

    height: 10vh;
}